* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 3px;
    margin: 2rem;
}

.flexitem {
    background-color: beige;
    width: 100px;
    height: 100px;
    align-items: center;
    font-size: 20px;
    margin: 1rem;
    display: flex;
    border: 3px solid blue;
    justify-content: center;
}

.flexitem:nth-child(1) {order: 2;}
.flexitem:nth-child(2) {order: -1;}
.flexitem:nth-child(3) {order: 4;}
.flexitem:nth-child(4) {order: 1;}
.flexitem:nth-child(5) {order: 3;}